[Unit]
Description=Automatically switch tuned profile based on process
Wants=tuned-watch-restarter.service tuned-watch-restarter.path scx_loader.service
After=tuned-watch-restarter.path

[Service]
ExecStart=/usr/local/bin/tuned-watch
Type=simple
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
