[Unit]
Description=Automatically switch tuned profile based on process
Wants=tuned-watch-restarter.service

[Service]
ExecStart=/usr/local/bin/tuned-watch
Type=simple
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
